/* Wrapper */
#root-home {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

/* Module Inventory */
#root-module-inventory {
  position: absolute;
  top: 0%;
  left: 0px;
  width: 0px;
  height: calc(100% - 3px);
  
  background-color: rgba(75, 75, 75);
  box-shadow: 2px 0px 5px black;
  transition: 0.2s;
  
  z-index: 1;
}

/* Inventory Toggle Button */
#menu-toggle {
  position: absolute;
  top: 50%;
  left: 100%;
}
#menu-toggle:hover {
  cursor: pointer;
  color: white;
}

.inventory-tab {
  position: relative;
  padding: 5px 15px;
}

.tab-button {
  background-color: transparent;
  width: 40px;
  padding: 5px;
  font-size: 1.5vh;
  transition: 0.18s;
  border: none;
  outline: none;
}
.tab-label {
  outline: none;
  border: none;
}

.tab-button {
  text-align: center;
  color: white;
}

.tab-button:hover {
  cursor: pointer;
  background-color: rgb(128, 128, 128);
  color: black;
}