#gps-view {
 position: relative;
 margin-top: 70px;
 width: 100%;
 height: 100%;

 display: grid;
 grid-template-rows: auto auto;
 justify-content: space-around;
}

#gps-view td{
  font-size: 2.1vh;
  color: white;
}