:root {
  --primary-color: rgb(70, 70, 70);
  --secondary-color: rgb(195, 24, 24);
}

#root-bottom-module {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: calc(30% - 1px);

  background-color: var(--primary-color);
}

.module {
  position: relative;
  top: 0px;
  left: 0px;
  width: 200px;
  height: calc(100% - 3px);
  border: 1px solid black;
  border-left: none;
  border-radius: 5px;

  display: inline-block;
  overflow: hidden;
}

.btm-module-close-btn {
  display: inline-block;
  margin-left: 5px;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  margin-top: 0px;
  
  background-image: url('./../../assets/images/close-white-18dp/2x/baseline_close_white_18dp.png');
  background-size: cover;
  /* border: 1px solid white; */

  transition: 0.2s;
}
.btm-module-close-btn:hover {
  cursor: pointer;
  background-image: url('./../../assets/images/close-black-18dp/2x/baseline_close_black_18dp.png');
}

.btm-module-header {
  position: relative;
  top: 0px;
  left: 0px;

  width: calc(100% - 1px);
  height: 25px;
  text-align: center;
  vertical-align: middle;
  line-height: 25px;
  background-color: rgb(92, 92, 92);
  color: white;
}

.btm-module-title, .btm-module-close-btn {
  display: inline-block;
}

.module-content {
  position: relative;
  width: calc(100% - 3px);
  height: calc(100% - 25px);

  /* border: 1px solid blue; */
}