:root {
  --primary-color: rgb(70, 70, 70);
  --secondary-color: rgb(195, 24, 24);
}

#root-top-module {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 70%;

  background-color: var(--primary-color);
  border-bottom: 1px solid black;
}


.tab-container {
  position: relative;
  top:0px;
  left: 0px;
  height: 30px;
  border-bottom: 1px solid black;
  box-shadow: 0px 0px 3px black;
}

.tab {
  display: inline-block;
  height: 29px;
  border: 1px solid black;
  border-left: none;
  transition: 0.2s;
}
.tab:first-child {
  border-left: 1px solid black;
}


.tab:hover {
  cursor: pointer;
  background-color: rgb(92, 92, 92);
}

.tab-label {
  line-height: 29px;
  vertical-align: middle;
  color: white;
  display: inline-block;

  margin-left: 5px;
  font-size: 2.2vh;
  font-family: 'Karla', sans-serif;
  padding: 0px 5px 5px 5px;
}

.tab-close-btn {
  display: inline-block;
  margin-left: 5px;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  margin-top: 0px;
  
  background-image: url('./../../assets/images/close-white-18dp/2x/baseline_close_white_18dp.png');
  background-size: cover;
  /* border: 1px solid white; */
  
  transition: 0.2s;
}
.tab-close-btn:hover {
  cursor: pointer;
  background-image: url('./../../assets/images/close-black-18dp/2x/baseline_close_black_18dp.png');
}